@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Inter";
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    background: linear-gradient(to right, #F4F0E2, #F8E9B7, #F4F4F4);
    
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;/* opcional: faz o background cobrir toda a tela */
}

.navbar-custom {
    background: linear-gradient(to right, #F4F0E2, #F8E9B7, #F4F4F4);
}


#search{
  margin-top: 1rem;
  border-radius: .4rem;
  border: none;
  width: 50%;
  padding: .5rem;
  text-align: center;
  box-shadow: rgb(0, 0, 0 , 0.1) 1px 1px 9px;
}

.prod-text{
  font-weight: 600;
}


.cards{
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4,  1fr);
  gap: 1rem;
}

.card{
  width: 270px;
  display: flex;
  align-items:center ;
  justify-content: center;
  padding: .5rem;
}

.card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: .3rem;
}

.prod{
  display: flex;
  margin-top: .5rem;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
}
.desc-prod {
  display: flex;
  flex-direction: column;
}
.desc-prod h4{
  font-size: 16px;
  font-weight: 600;

}

.btn-rec{
  color: white;
  background: black;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  height: fit-content;
  padding: .4rem .6rem;
}
.btn-rec a {
  text-decoration: none;
  color: white;
}



.logo{
  font-weight: 700;
}


.border-bottom{
  border-bottom: none !important;
}

.footer[b-9naxg86tp8]{
  border-top: none;
}

.content{
  text-align: center;
  margin-top:5rem;
}

.content > p{
  margin-top: 3rem;
}

