@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-size: 14px;
  font-family: "Inter";
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    background: linear-gradient(to right, #ffffff, #b6a074, #ffffff);
    
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;/* opcional: faz o background cobrir toda a tela */
}

.navbar-custom {
    background: linear-gradient(to right, #ffffff, #b6a074, #ffffff);
}


#search{
  border-radius: .4rem;
  border: none;
  width: 50%;
  padding: .5rem;
  text-align: center;
  box-shadow: rgb(0, 0, 0 , 0.1) 1px 1px 9px;
}