@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Faça a sua reclamação sobre os nossos produtos</h1>
    <input type="search" name="" id="search" placeholder="Pesquise o seu produto">
</div>
